.box {
	width: 300px;
	height: 300px;
	border-radius: 5px;
	background: lightblue;
	position: absolute;
	left: 50px;
	top: 50px;

	background: 
		repeating-linear-gradient(
			180deg,
			green,
			yellow 10px,
			red 5px,
			pink 50px
		);
	border: 10px solid #000;
	transition: border-color 5s ease, border-radius 1s ease, height 1s cubic-bezier(1,-0.35,.44,1.34);
}

.box:hover {
	border: 10px solid #666;
	height: 500px;
	border-radius: 0px 150px 0px 150px;
}